section#faq.tc.content-divider
  h1.title Mas Informacion
  img(src="/img/divider_pink.jpg")
  .content-divider
    .columns
      .column-content.content-divider
        p Question
        p.clear-title Puedo llevar a mis Niños?
      .divider
      .column-content.content-divider
        i.fal.fa-child.big
        p Nel
    .columns
      .column-content.content-divider
        p Question
        p.clear-title Puedo llevar una cita?
      .divider
      .column-content.content-divider
        i.fal.fa-user-friends.big
        p Clarines, solo que no sea muy teporocha porfas
    .columns
      .column-content.content-divider
        p Question
        p.clear-title Hay algun codigo de vestimenta?
      .divider
      .column-content.content-divider
        i.fal.fa-user-tie.big
        p Mientras no vallas encuerado esta bien