section#faq.tc.content-divider
  h1.title Más Información
  img.column-content(src="/img/divider1.jpg", alt="Flowers section devider")
  .content-divider
    .columns
      .column-content.content-divider
        p Pregunta
        p.clear-title Código de vestimenta?
      .divider.desk
      .column-content.content-divider
        i.fal.fa-user-tie.big
        p Formal / De Etiqueta,
          br
          | Ten en cuenta que el evento será en una terraza
    .divider.mobile
    .columns
      .column-content.content-divider
        p Pregunta
        p.clear-title Mesa de Regalos?
      .divider.desk
      .column-content.content-divider
        i.fal.fa-gift.big
        p No, pero si deseas hacernos un presente, éste puede ser en efectivo a la cuenta 4915 6634 1315 4262 Banorte a nombre de David Orozco León
    .divider.mobile
    .columns
      .column-content.content-divider
        p Pregunta
        p.clear-title Hospedaje?
      .divider.desk
      .column-content.content-divider
        i.fal.fa-concierge-bell.big
        p Hotel Casa Grande ofrece una tarifa preferencial para los invitados de nuestra boda.
    .divider.mobile
    .columns
      .column-content.content-divider
        p Pregunta
        p.clear-title Estacionamiento?
      .divider.desk
      .column-content.content-divider
        i.fal.fa-car.big
        p El hotel cuenta con servicio de valet parking (costo: $60.00 MXP).
