section#faq.tc.content-divider
  h1.title Mas Informacion
  img.column-content(src="/img/divider1.jpg", alt="Flowers section devider")
  .content-divider
    .columns
      .column-content.content-divider
        p Question
        p.clear-title Puedo llevar a mis Niños?
      .divider.desk
      .column-content.content-divider
        i.fal.fa-child.big
        p Nel
    .divider.mobile
    .columns
      .column-content.content-divider
        p Question
        p.clear-title Puedo llevar una cita?
      .divider.desk
      .column-content.content-divider
        i.fal.fa-user-friends.big
        p Clarines, solo que no sea muy teporocha porfas
    .divider.mobile
    .columns
      .column-content.content-divider
        p Question
        p.clear-title Hay algun codigo de vestimenta?
      .divider.desk
      .column-content.content-divider
        i.fal.fa-user-tie.big
        p Mientras no vallas encuerado esta bien