header.header
  div.details
    span 20 de Julio, 2019 - Morelia, Michoacan
    span #erickaydavid
  div.logo
    a.h1(href='/')= title
  nav.tc
    a.link(href='/index') Inicio
    a.link(href='/schedule') Programa
    a.link(href='/travel') Hospedaje
    a.link(href='/photos') Fotos
    a.link(href='/faq') Mas Informacion
    a.link(href='/rsvp') Confirma