
button#menu-button.menu-button.mobile.closed(type="button")
  i.far.fa-bars
header#header.header.closed
  button#close-button.close-button(type="button")
    i.fal.fa-times
  div
    div.logo
      a.h1(href='/') E & D
    nav.tc
      a.link(href='/#index') Inicio
      a.link(href='/#schedule') Programa
      a.link(href='/#travel') Hospedaje
      a.link(href='/#photos') Fotos
      a.link(href='/#faq') Mas Informacion
      a.link(href='/#rsvp') Confirma