section#rsvp.tc.content-divider
  h1.title Confirma
  .content-divider
    .rsvp-container
      .counter
        span.number 30
        span.range days
        span.number 8
        span.range hours
        span.number 25
        span.range min
      p
        button.small(type="button") Confirma