section#rsvp.tc.content-divider
  h1.title Confirma
  .mobile
    img.column-content(src="/img/divider2.jpg", alt="Flowers devider")
  .content-divider
    .rsvp-container
      #counter.counter
        span#etl-days.number 30
        span.range dias
        span#etl-hours.number 8
        span.range horas
        span#etl-minutes.number 25
        span.range min
      p
        a.button.small(href="/rsvp") Confirma
  