section#rsvp-page.rsvp-page
  h1.title Confirma
  img.column-content(src="/img/divider2.jpg", alt="Flowers devider")
  .column-content
    form#rsvp-form(autocomplete="off", method="POST" action="/confirm")
      label.label(for="name") Nombre
      input(type="text", id="name", placeholder="Nombre" autocomplete="off")
      input(type="hidden", name="code", id="code")
      #info.hide
        p
          | Nombre:&nbsp;
          span#disp-name
        p
          | Familia:&nbsp;
          span#disp-familyname
      button(type="submit")
        span Confirmar
        i.fal.fa-check-circle.icon
  #envelope.envelope.new.hide
    .front
      .mailme
        p Resultado Final
        p clique para exibir
    .back
      .letter
      .flap.left-flap
      .flap.right-flap
      .flap.bottom-flap
      .flap.top-flap