section#rsvp-form.rsvp-form
  h1.title Confirma
    img.column-content(src="/img/footer_pink.jpg", alt="Flowers devider")
  label(for="name")
    span Nombre
    input(type="text", name="name", id="name", placeholder="Nombre")
    button(type="button")
      span Buscar
      i.fal.fa-search