section#schedule.tc.content-divider
  h1.title Progama
  img.column-content(src="/img/divider1.jpg", alt="Flowers section devider")
  .content-divider
    .columns
      .column-content.content-divider
        p.clear-title Boda
        p 20 Julio 2019
        p 6:00 pm - 7:00 pm
      .divider.desk
      .column-content.content-divider.compact
        i.fal.fa-rings-wedding.big
        p
          | Hotel Casa Grande
          br
          | Portal Matamoros, Abasolo 98,
          br
          | Centro histórico de Morelia,
          br
          | 58000 Morelia, Michoacán
        p
          a(class="button", href="https://www.google.com/maps/place/Casa+Grande/@19.7027586,-101.1958468,17z/data=!4m8!1m2!2m1!1sPortal+Matamoros,+Abasolo+98,+Centro+hist%C3%B3rico+de+Morelia,+58000+Morelia,+Michoac%C3%A1n!3m4!1s0x842d0e70607dea63:0x937bc9ca56599a37!8m2!3d19.7020676!4d-101.1941714") Direcciones
        p
          a(class="button", href="/") Agregar a mi Calendario
    .divider.mobile
    .columns
      .column-content.content-divider
        p.clear-title Celebración
        p 20 Julio 2019
        p 7:00 pm - 1:00 am
      .divider.desk
      .column-content.content-divider.compact
        i.fal.fa-glass-cheers.big
        p
          | Hotel Casa Grande
          br
          | Portal Matamoros, Abasolo 98,
          br
          | Centro histórico de Morelia,
          br
          | 58000 Morelia, Michoacán
        p
          a(class="button", target="_blank", rel="noreferrer", href="https://www.google.com/maps/place/Casa+Grande/@19.7027586,-101.1958468,17z/data=!4m8!1m2!2m1!1sPortal+Matamoros,+Abasolo+98,+Centro+hist%C3%B3rico+de+Morelia,+58000+Morelia,+Michoac%C3%A1n!3m4!1s0x842d0e70607dea63:0x937bc9ca56599a37!8m2!3d19.7020676!4d-101.1941714") Direcciones
        p
          a(class="button", target="_blank", rel="noreferrer", href="/") Agregar a mi Calendario