section#schedule.tc.content-divider
  h1.title Progama
  img(src="/img/divider_pink.jpg")
  .content-divider
    .columns
      .column-content.content-divider
        p.clear-title Boda Civil
        p 20 Julio 2019
        p 11:00 am - 12:00 pm
      .divider
      .column-content.content-divider
        i.fal.fa-file-signature.big
        p
          | Palace of Fine Arts
          br
          | 3601 Lyon St & Marina Blvd
          br
          | San Francisco, CA 94123
        p.advice
          | The grass can be a little soft, so you might want to rethink stilettos!
        p
          button(type="button") Direcciones
        p
          button(type="button") Agregar a mi Calendatio
    .columns
      .column-content.content-divider
        p.clear-title Boda
        p 25 Julio 2019
        p 7:00 pm - 8:00 pm
      .divider
      .column-content.content-divider
        i.fal.fa-rings-wedding.big
        p
          | Palace of Fine Arts
          br
          | 3601 Lyon St & Marina Blvd
          br
          | San Francisco, CA 94123
        p.advice
          | The grass can be a little soft, so you might want to rethink stilettos!
        p
          button(type="button") Direcciones
        p
          button(type="button") Agregar a mi Calendatio
    .columns
      .column-content.content-divider
        p.clear-title Celebracion
        p 25 Julio 2019
        p 8:00 pm - 1:00 am
      .divider
      .column-content.content-divider
        i.fal.fa-glass-cheers.big
        p
          | Palace of Fine Arts
          br
          | 3601 Lyon St & Marina Blvd
          br
          | San Francisco, CA 94123
        p.advice
          | The grass can be a little soft, so you might want to rethink stilettos!
        p
          button(type="button") Direcciones
        p
          button(type="button") Agregar a mi Calendatio