section#travel.tc.content-divider
  h1.title Hospedaje
  img.column-content(src="/img/divider1.jpg", alt="Flowers section devider")
  .column-content.content-divider
    i.fal.fa-concierge-bell.big
    p.clear-title Hotel Casa Grande
    p
      | Portal Matamoros, Abasolo 98,
      br
      | Centro histórico de Morelia,
      br
      | 58000 Morelia, Michoacán
    p Tel (443) 313 2000
    p
      a.button(href="https://www.casagrandemorelia.com.mx/", target="_blank", rel="noreferrer") Informes