section#travel.tc.content-divider
  h1.title Hospedaje
  img(src="/img/divider_pink.jpg")
  .column-content.content-divider
    i.fal.fa-concierge-bell.big
    p.clear-title Hotel Chingon
    p
      | Palace of Fine Arts
      br
      | 3601 Lyon St & Marina Blvd
      br
      | San Francisco, CA 94123
    p.advice
      | The grass can be a little soft, so you might want to rethink stilettos!
    p
      a.button(href="https://www.airbnb.com", target="_blank", rel="noreferrer") Informes