section#us.us.columns.content-divider
  .column-content
    h1 Ericka Rodriguez
    .info
      .img
        img(src="/img/ericka-solo.jpg" alt="Ericka Rodriguez foto solo")
      p No perdáis, pues, vuestra confianza, que tiene grande galardón; porque os es necesaria la paciencia, para que habiendo hecho la voluntad de Dios, obtengáis la promesa.
  .divider.horizontal
    i.fal.fa-heart
  .column-content
    h1 David Orozco
    .info
      .img
        img(src="/img/david-solo.jpg" alt="David Orosco foto solo")
      p Me viste antes de que naciera. Cada día de mi vida estaba registrado en tu libro. Cada momento fue diseñado antes de que un solo día pasara.
section.tc.content-divider
  h1.title Nuestra Historia
  img.column-content(src="/img/divider1.jpg", alt="Flowers section devider")
  .us.columns.content-divider
    .column-content
      .info
        img(src="/img/us1.jpg" alt="Ericka Rodriguez foto solo")
    .divider.desk
      i.fal.fa-heart
    .column-content
      h1 El Encuentro
      .info
        p Bendito Dios por encontrarnos en el camino, aquel 7 de octubre, en la boda de nuestros amigos, mirándonos sin hablar y hablándonos sin mirar, pero sintiendo algo muy especial.
  .divider.mobile
  .us.columns.content-divider
    .column-content
      h1 Tres Doritos Después
      .info
        p Es curioso cómo dos personas pueden enamorarse, para nosotros bastó con tomarnos de la mano.
    .divider.desk
      i.fal.fa-heart
    .column-content
      .info
        img(src="/img/us2.jpg" alt="Ericka Rodriguez foto solo")
  .divider.mobile
  .us.columns.content-divider
    .column-content
      .info
        img(src="/img/us3.jpg" alt="Ericka Rodriguez foto solo")
    .divider.desk
      i.fal.fa-heart
    .column-content
      h1 ¡Sí, Acepto!
      .info
        p Confiamos en que somos el uno para el otro y los dos para Dios y un 20 de diciembre nos comprometimos.
