section#us.us.columns.content-divider
  .column-content
    h1 Ericka Rodriguez
    .info
      .img
        img(src="/img/ericka-solo.jpg" alt="Ericka Rodriguez foto solo")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue ex, vitae commodo. Phasellus condimentum, mi ut sodales gravida.
  .divider
    i.fal.fa-heart
  .column-content
    h1 David Orozco
    .info
      .img
        img(src="/img/david-solo.jpg" alt="David Orosco foto solo")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue ex, vitae commodo. Phasellus condimentum, mi ut sodales gravida.
section.tc.content-divider
  h1.title Nuestra Historia
  img(src="/img/divider_pink.jpg")
  .us.columns.content-divider
    .column-content
      .info
        img(src="/img/us1.jpg" alt="Ericka Rodriguez foto solo")
    .divider
      i.fal.fa-heart
    .column-content
      h1 Nuestro Primer Momento
      .info
        p 01/30/2017 - 8:00 pm
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue ex, vitae commodo. Phasellus condimentum, mi ut sodales gravida.
  .us.columns.content-divider
    .column-content
      h1 Somos una pareja oficial
      .info
        p 08/10/2017 - 7:00 pm
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue ex, vitae commodo. Phasellus condimentum, mi ut sodales gravida.
    .divider
      i.fal.fa-heart
    .column-content
      .info
        img(src="/img/us2.jpg" alt="Ericka Rodriguez foto solo")
  .us.columns.content-divider
    .column-content
      .info
        img(src="/img/us3.jpg" alt="Ericka Rodriguez foto solo")
    .divider
      i.fal.fa-heart
    .column-content
      h1 El momento del compromiso
      .info
        p 01/30/2017 - 8:00 pm
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue ex, vitae commodo. Phasellus condimentum, mi ut sodales gravida.
