extends layout

block content
  include sections/hero
  include sections/nav
  include sections/us
  include sections/schedule
  include sections/travel
  include sections/photos
  include sections/faq
  include sections/rsvp