doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Pagina oficial de la boda de Ericka y David, 20 de Julio 2019, Morelia Michoacan")
    title= title
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/fontawesome/all.css")
    script(src="https://unpkg.com/scrollreveal")
  body
    block content
    script(src="/js/main.js")