* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-main);
  color: var(--font-color);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--font-color);
  font-family: var(--font-title);
  text-decoration: none;
}

.desk {
  display: none;
}

button,
.button {
  font-size: 1em;
  background-color: transparent;
  border: 1px solid var(--font-color);
  padding: calc(var(--gutter) * 2) calc(var(--gutter) * 4);
  min-width: 260px;
  cursor: pointer;
  text-decoration: none;
  color: var(--font-color);
}

button.small,
.button.small {
  min-width: auto;
}

.tc {
  text-align: center;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.column-content {
  text-align: center;
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  margin: 0 auto;
}

img {
  width: 100%;
}

.content-divider {
  padding-top: calc(var(--gutter) * 8);
  padding-bottom: calc(var(--gutter) * 8);
}

.fal.big {
  font-size: 3em;
}

.divider {
  width: 100%;
  display: flex;
  border-bottom: 4px double var(--font-color);
  align-items: center;
  justify-content: center;
}

.divider i {
  font-size: 32px;
  margin-bottom: -25px;
  padding: var(--gutter);
  background-color: var(--bg-color);
}

.divider.horizontal {
  margin-top: calc(var(--gutter) * 4);
  margin-bottom: calc(var(--gutter) * 4);
}

.clear-title {
  font-size: 2.5em;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 575px) {
  .desk {
    display: none;
  }
}

@media all and (min-width: 575px) {
  .mobile {
    display: none;
  }
  .column-content {
    padding-left: 0;
    padding-right: 0;
  }
  .content-divider {
    padding-top: calc(var(--gutter) * 12);
    padding-bottom: calc(var(--gutter) * 12);
  }
  .divider {
    width: 0;
    height: auto;
    border-left: 4px double var(--font-color);
    border-bottom: none;
  }
  .divider.horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }
  .divider i {
    margin-left: calc(var(--gutter) * -1);
    margin-bottom: 0;
  }
}
