html {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-main);
  color: var(--font-color);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--font-color);
  font-family: var(--font-title);
  text-decoration: none;
}

.tc {
  text-align: center;
}
