:root {
  --gutter: 7px;
  --bg-color: #faf9f6;
  --font-color: #424242;
  --controls: #ccc;
  --font-main: "Montserrat", sans-serif;
  --font-second: "Lato", sans-serif;
  --font-title: "Great Vibes", cursive;
}
