.us .img {
  border-radius: 10%;
  overflow: hidden;
  margin: 0 auto calc(var(--gutter) * 8) auto;
}

.us .info {
  margin: calc(var(--gutter) * 4);
}

@media all and (min-width: 575px) {
  #us.sticky {
    margin-top: 180px;
  }
}
